/* some default styles to make the view more native like */

html {
  box-sizing: border-box;
  background: #fff;
  color: #000;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
}

input, textarea {
  -webkit-user-select: auto;
  user-select: auto;
}
