/* some default styles to make the view more native like */

:root {
  --primary-color: #F03;
  --primary-color-hover: rgba(255, 0, 51, 0.8);
  
  --color-neutral-0: #fff;
  --color-neutral-1: #ccc;
  --color-neutral-7: #393E46;
  --color-neutral-8: #2d3138;
  --color-neutral-9: #222831;
  --color-neutral-10: #000;

  --header-color: var(--color-neutral-9);
  --content-color: var(--color-neutral-7);

  --text-color: var(--color-neutral-1);
  --alert-background: var(--color-neutral-9);
  --css-background: var(--color-neutral-1);
  --grid-item-background: var(--color-neutral-8);

}

html, body {
  height: 100%;
  overflow: hidden;
}

html {
  box-sizing: border-box;
  background-color: #333;
  color: var(--text-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

body {
  display: flex;
  flex-direction: column;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
}

header,
footer {
  background-color: var(--header-color);
}

.content {
  background-color: var(--content-color);
}

header {
  position: sticky;
  top: 0;
  left: 0;
  color: var(--text-color);
  text-align: center;
  padding: 40px 16px 16px 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

header:hover {
  cursor: default;
}

header > div {
  text-align: left;
  margin-left: 16px;
}

header h1 {
  font-size: 14px;
}

header h2 {
  padding-top: 4px;
  font-size: 10px;
  font-weight: normal;
}

header img {
  height: 34px;
  animation: pulse-black 8s infinite;
  border-radius: 50%;
}

footer {
  position: sticky;
  bottom: 0;
  left: 0;
  color: var(--text-color);
  font-size: 10px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

footer:hover {
  cursor: default;
}

.content {
  height: 100%;
  overflow-y: auto;
  flex: 1;
}

.main-content {
  padding: 16px;
}

/* Inputs */

input, textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

input {
  height: 40px;
  width: 80px;
}

input[type=number] {
  padding: 0 16px;
}

.label-input {
  display: flex;
  align-items: center;
}

.label-input + .label-input {
  margin-top: 8px;
}

.label-input label {
  display: inline-block;
  width: 220px;
}

/* Code Area */

.answer {
  margin-top: 16px;
  background-color: var(--css-background);
  padding: 8px;
  border-radius: 8px;
  color: #333;
  font-size: 12px;
  position: relative;
  min-height: 150px;
}

.answer:hover .message-container:not(:empty) + .copy-button {
  display: block;
}

/* Buttons */

.button {
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
	background-color: var(--primary-color);
	border: none;
	padding: 8px 20px;
	font: inherit;
	font-weight: bold;
	color: #FFF;
	border-radius: 8px;
	cursor: pointer;
  height: 40px;
  width: 100%;
  text-transform: uppercase;
}

.button:hover,
.button:focus {
  background-color: var(--primary-color-hover);
}

.button:active {
  background-color: var(--primary-color);
}

.copy-button {
  display: none;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  height: auto;
  width: auto;
  font-size: 10px;
  font-weight: normal;
}

.copy-button:focus,
.copy-button:hover {
  background-color: var(--primary-color-hover);
}

.copy-button:active {
  background-color: var(--primary-color);
}

/* Grid */

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-bottom: 16px;
  grid-gap: 2px;
  grid-auto-rows: 1fr;
}

.grid-container.grid-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-container.grid-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-container.grid-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-item {
  background-color: var(--grid-item-background);
  text-align: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grid-item label {
  padding: 4px 8px;
  font-size: 10px;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.grid-item .color {
  width: 100%;
  height: 24px;
  background-color: #000;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Alert */

.alert {
  font-size: 12px;
  padding: 16px 32px 16px 16px;
  background-color: #7d7d55;
}

.alert:before {
  content: "X";
  position: absolute;
  top: 18px;
  right: 8px;
  background-color: var(--alert-background);
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: bold;
  font-size: 8px;
  text-align: center;
}

.alert:empty {
  display: none;
}

.alert:hover {
  cursor: pointer;
}

.margin-top-base {
  margin-top: 16px;
}

.margin-top-l {
  margin-top: 32px;
}

.margin-bottom-l {
  margin-bottom: 32px;
}

.margin-bottom-base {
  margin-bottom: 16px;
}

.margin-bottom-s {
  margin-bottom: 8px;
}

h3 {
  font-size: 14px;
  font-weight: normal;
}

.primary-color {
  color: var(--primary-color);
}

@keyframes pulse-black {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 0, 51, 0.3);
  }
  30% {
    box-shadow: 0 0 0 10px rgba(255, 0, 51, 0);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}